body {
  background-color: #fff;
  color: #262626;
  font-size: 14px;
  font-family: sans-serif;
  margin: 2em auto;
  width: 720px;
}
h1 {
  background: transparent url(../images/logo.png) no-repeat scroll top center;
  height: 230px;
  text-indent: -9000px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border-top: 1px solid #ccc;
  padding: 0 2em;
  line-height: 2;
}
th td {
  border-top: none;
}
pre, code {
  background-color: #ddd;
}
pre {
  padding: 7px;
  border-top: 1px solid #bbb;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}
code {
  padding: 0 3px;
}
p, hr {
  margin-left: 0;
  margin-right: 0;
}
h1, h2, h3, h4, p, pre, hr {
  margin: 1.5em 0 0.25em 0;
}
