body {
  background-color: #262626;
  color: #bcbcbc;
  font-size: 14px;
  font-family: sans-serif;
  margin: 2em auto;
  width: 720px;
}
h1 {
  background: transparent url(../images/logo_bcbcbc.png) no-repeat scroll top center;
  height: 230px;
  text-indent: -9000px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border-top: 1px solid #585858;
  padding: 0 2em;
  line-height: 2;
}
th td {
  border-top: none;
}
pre, code {
  background-color: #1c1c1c;
}
pre {
  padding: 7px;
}
code {
  padding: 0 3px;
}
p, hr {
  margin-left: 0;
  margin-right: 0;
}
p {
  line-height: 1.5;
}
hr {
  border: none;
  height: 1px;
  background-color: #585858;
}
h1, h2, h3, h4, p, pre, hr {
  margin: 1.5em 0 0.25em 0;
}
a:link {
  color: #5f87af;
}
a:visited {
  color: #8787af;
}
a:active {
  color: #af5f5f;
}
