body {
  background-color: #262626;
  color: #bcbcbc;
  font-size: 14px;
  font-family: sans-serif;
  margin: 0 auto;
  width: 720px;
}
h1 {
  background: transparent url(../images/logo_bcbcbc.png) no-repeat scroll top center;
  height: 230px;
  text-indent: -9000px;
}
div {
  margin: 0 0 5em 0;
}
table#term {
  border-collapse: collapse;
  width: 100%;
}
table#term td, table#palette td {
  border-top: 1px solid #585858;
  padding: 0 2em;
  line-height: 3;
}
table#term th, table#palette td, table#palette th {
  padding: 0 2em;
  line-height: 3;
}
table#term th {
  border-top: none;
}
pre, code {
  background-color: #1c1c1c;
}
pre {
  padding: 7px;
  border-radius: 7px;
}
code {
  padding: 0 3px;
  border-radius: 3px;
}
p, hr {
  margin-left: 0;
  margin-right: 0;
}
p {
  line-height: 1.5;
}
p.img {
  margin-bottom: 0;
}
hr {
  border: none;
  height: 1px;
  background-color: #585858;
}
p, pre, hr, table {
  margin: 0 0 2em 0;
}
p.before-img {
  margin: 0;
}
h1, h2, h3, h4 {
  margin: 0 0 7px 0;
}
a:link {
  color: #5f87af;
}
a:visited {
  color: #8787af;
}
a:active {
  color: #af5f5f;
}
div.last, div.last table {
  margin: 0;
}
ul li {
  margin: 0 0 1em 0;
}
